<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oleksandr's Informer</title>
</head>
<body>
    <header class="headerfooter-height">
        <h1>Hello, welcome to my informer website!</h1>
    </header>

    <div class="freespace" id="main"></div>

    <section class="container">
        <div class="full-height" *ngFor="let item of itemsList">

            <h2>Weather in cities:</h2>
            <h2 class = "Pcity">City = {{item.city}}</h2>
            <b><div class="interact"><img (click)="onSelect(item)" src="/assets/edit.png" alt=""><span (click)="deleteItem(item)" id="del"> X </span></div></b>
            <p class = "Pdate">Date of forecast = {{item.date}}</p>
            <p class = "Ptemp">Temp = {{item.temp}}</p>
            <p class = Ptemp_min>Temp-min = {{item.temp_min}}</p>
            <p class = "Ptemp_max">Temp-max = {{item.temp_max}}</p>
            <p class = "Pfeels">Feels-like = {{item.feels_like}}</p>
            <p class = "Pdescription">Weather how it is = {{item.description}}</p>
            
        </div>
    </section>

    <section class="container">
        <div class="full-height" >

            <div class="interactblock">
              <h2>Add Forecast</h2>
              <form #form1="ngForm" (ngSubmit)="addItem(form1.value)">
                  <input type="hidden" id="name" class="feedback-input" name="id"  ngModel="-1">

                  <input type="text" id="city" class="input" placeholder="City..." name="city"  ngModel="">
                  <input type="text" class="input" placeholder="Date...(30.11.2022)" name="date" ngModel="">
                  <input type="number" class="input" placeholder="Temperature..." name="temp" ngModel="">
                  <input type="number" class="input" placeholder="Minimum..." name="temp_min" ngModel="">
                  <input type="number" class="input" placeholder="Maximum..." name="temp_max" ngModel="">
                  <input type="number" class="input" placeholder="Feels-like..." name="feels_like" ngModel="">
                  <textarea type="text" class="input" placeholder="Description..." name="description" ngModel=""></textarea>
                  
                  <input type="submit" class = submit value="ADD">
              </form>
              </div>
      
              <div class="interactblock" *ngIf="selectedItem">
              <h2>Edit Forecast</h2>
              <form  #form2="ngForm" (ngSubmit)="updateItem(form2.value)">
                  <input type="hidden" id="name" class="input" name="id" ngModel="{{selectedItem.id}}">

                  <input type="text" id="city" class="input" placeholder="City..." name="city"  ngModel="{{selectedItem.city}}">
                  <input type="text" class="input" placeholder="Date...(30.11.2022)" name="date" ngModel="{{selectedItem.date}}">
                  <input type="number" class="input" placeholder="Temperature..." name="temp" ngModel="{{selectedItem.temp}}">
                  <input type="number" class="input" placeholder="Minimum..." name="temp_min" ngModel="{{selectedItem.temp_min}}">
                  <input type="number" class="input" placeholder="Maximum..." name="temp_max" ngModel="{{selectedItem.temp_max}}">
                  <input type="number" class="input" placeholder="Feels-like..." name="feels_like" ngModel="{{selectedItem.feels_like}}">
                  <textarea class="input" placeholder="Description" name="description..." ngModel="{{selectedItem.description}}"></textarea>

                  <input type="submit" class = submit value="EDIT">
              </form> 
              </div>

        </div>
    </section>
    
    <div class="freespace" id="main"></div>

    <footer class="headerfooter-height" id="footer-id">
        <h2>&copy; Copyright O.Horbun 2022 All rights reserved</h2>
    </footer>

</body> 
</html>